<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="connection.url">jdbc:sqlserver://localhost;databaseName=neon;instanceName=SQLEXPRESS</property>
		<property name="connection.username">sa</property>
		<property name="connection.password">password_123</property>
		<property name="connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
		<property name="dialect">org.hibernate.dialect.SQLServerDialect</property>
		<!-- 'show_sql' set true to check sql statements on console else set to false -->
		<property name="show_sql">true</property> 
		<property name="format_sql">true</property>
		<!-- use 'create' to Create tables on application startup else use 'update' -->
		<property name="hbm2ddl.auto">update</property>
		<!-- JDBC connection pool -->
		<!-- <property name="connection.pool_size">5</property> <property name="current_session_context_class">thread</property> --><!-- Domain Model classes to be mapped -->
		<mapping class="com.HibernateAssignments.problem1.model.Movie" />
		<mapping class="com.HibernateAssignments.problem2.model.Customer" />
		<mapping class="com.HibernateAssignments.problem2.model.Locker" />
		<mapping class="com.HibernateAssignments.problem3.model.MovieEntity" />
		<mapping class="com.HibernateAssignments.problem3.model.DirectorEntity" />
		<mapping class="com.HibernateAssignments.problem5.model.Employee" />
		<mapping class="com.HibernateAssignments.problem5.model.Assets" />
	</session-factory>
</hibernate-configuration>
